{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <a href="{{ path('app_home') }}">Home</a>
	<article>
		<h1>{{ pin.title }}</h1>
		<p>{{pin.description}}</p>
	</article>
{% endblock %}
