{% extends 'base.html.twig' %}

{% block title 'Edit ' ~ pin.title %}

{% block body %}
    <h1>Edit Pin</h1>

    {{ include('pin/_form.html.twig', {submitButtonText: 'Update pin'}) }}

    <a href="{{ path('app_home') }}">back to list</a>

    {{ include('pin/_delete_form.html.twig') }}
{% endblock %}
