{% extends 'base.html.twig' %}

{% block title 'New pin' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Create new Pin</h1>

			{{ include('pin/_form.html.twig', {submitButtonText: 'Create pin'}) }}

			<a href="{{ path('app_home') }}">back to list</a>
		</div>
	</div>

{% endblock %}
