{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <h1>{{ pin.title }}</h1>

    <p>{{ pin.description }}</p>

    <a href="{{ path('app_pin_edit', {'id': pin.id}) }}">edit</a>

    {{ include('pin/_delete_form.html.twig') }}
{% endblock %}
