<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>

		<style>
			.alert {
				padding: 10px;
				color: white;
				text-align: center;
			}

			.alert-success {
				background-color: green;
			}

			.alert-error {
				background-color: red;
			}

			.alert-info {
				background-color: blue;
			}
		</style>

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>

		{% include "partials/FlashMessage.html.twig" %}
		
		<nav>
			<ul>
				<li><a href="{{path('app_home')}}">HOME</a></li>
				<li><a href="{{path('app_pin_new')}}">NEW PIN</a></li>
			</ul>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
