<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Pantarest{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>

		{% include "partials/_FlashMessage.html.twig" %}
		{% include "partials/_Nav.html.twig" %}

		<main role="main" class="container">
			{% block body %}
				{# body #}
			{% endblock %}
		</main>
		{% include "partials/_Footer.html.twig" %}

		{% block javascripts %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</body>
</html>
