{% extends 'base.html.twig' %}

{% block title "Error 404" %}

{% block body %}
	<h1>This page doesn't exist sorry.</h1>
    <p>You can return to <a href="{{ path('app_home') }}">HOME</a>.</p>
{% endblock %}